.material-icons {
    vertical-align: middle;
    box-sizing: unset;
}

a .material-icons {
    text-decoration: unset !important;
}

.small-text {
    font-size: 0.85rem;
}

.center-box-title {
    color: white;
    text-shadow: #8d8d8d 2px 0 7px;
    padding-left: 1.6rem;
    display: inline-block;
    position: relative;
    top: 1rem;
    z-index: 50;
}

.center-box {
    padding: 1rem 1.8rem;
    background-color: #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 0 2px white;
    width: 20rem;
}

.toast p {
    margin: 0.2rem;
}

.filter-container {
    background-color: #5a5a5a;
    border-radius: 5px;
    min-height: 3rem;
    padding: 0.3rem 0;
    margin-bottom: 1rem;
    align-items: center;
}

.filter-element {
    background-color: #ffffff;
    height: 2.5rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 10px;
    margin: 0 0 0 0.5rem;
}

.filter-element-value {
    margin: 0 0.2rem;
}

.filter-element-title {
    background-color: #85ff69;
    display: inline-flex;
    border-radius: 10px 0 0 10px;
    padding: 0 0.5rem;
    font-weight: bold;
    height: 100%;
    align-items: center;
}

.close-button {
    border-radius: 50%;
    padding: 0.5em;
    width: 18px;
    height: 18px;
    border: 0;
    color: white;
    background-color: gray;
    position: relative;
    margin: 0 0.5rem 0 0;
    font-weight: bold;
}

.close-button:hover {
    background-color: #acacac;
    color: #ffffff;
}

.close-button:before {
    content: "×";
    position: absolute;
    left: 4px;
    top: -3px;
    line-height: normal;
}